DJANGO_SETTINGS_MODULE=config.settings.development
SECRET_KEY=django-insecure-change-me
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

DB_ENGINE=django.db.backends.postgresql
DB_NAME=finder_db
DB_USER=finder_user
DB_PASSWORD=finder_password
DB_HOST=127.0.0.1
DB_PORT=5432

POSTGRES_DB=finder_db
POSTGRES_USER=finder_user
POSTGRES_PASSWORD=finder_password
POSTGRES_PORT=5432

LANGUAGE_CODE=id-id
TIME_ZONE=Asia/Jakarta

SECURE_SSL_REDIRECT=True
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True
