{% load static %}

<!-- Google Fonts: Plus Jakarta Sans -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">

<!-- Tailwind CSS -->
<link href="{% static 'win/css/output.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'linux/css/output.css' %}" rel="stylesheet" type="text/css" />
