@import "tailwindcss";

@source not "./tailwindcss";
@source not "./daisyui{,*}.mjs";

@plugin "./daisyui.mjs";
@plugin "./daisyui-theme.mjs" {
  name: "finder";
  default: true;
  prefersdark: true;
  color-scheme: dark;

  --color-base-100: #060e17;
  --color-base-200: #0b1522;
  --color-base-300: #111e2c;
  --color-base-content: #e6f1ff;
  --color-primary: #0af3b9;
  --color-primary-content: #02130d;
  --color-secondary: #1d9bf0;
  --color-secondary-content: #061624;
  --color-accent: #f59e0b;
  --color-accent-content: #231600;
  --color-neutral: #0f172a;
  --color-neutral-content: #e2e8f0;
  --color-info: #38bdf8;
  --color-info-content: #06202d;
  --color-success: #22c55e;
  --color-success-content: #06200f;
  --color-warning: #fbbf24;
  --color-warning-content: #231600;
  --color-error: #ef4444;
  --color-error-content: #220606;

  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.75rem;

  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  --border: 1px;
  --depth: 1;
  --noise: 0;
}
